body{
	margin: 0px;
	padding: 0px;

}
header{
	display:flex;
	justify-content:center;
	width: 100%;
	height: 50px;
	background-color: #cbd9e7;
}
.container{
	display: flex;
    justify-content: space-between;
    width: 990px;
}
nav ul{
	display:flex;
	list-style: none;
	margin:0px;
	padding: 0px;
}
nav a {
	justify-content:rit;
	display:block;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color:#000;
	font-family: arial;
}
.barra{
	width:100%;
	height:50px;
	display: flex;
	justify-content:center;
	align-items:center;
	background-color: #f3c19e;
}
.geral{
	display: flex;
	justify-content:center;
	align-items:center;
}
.content{
	margin-top:26px;
	width: 1076px;
	height: 295px;
	display: flex;
	
}
.cadastro{
	padding:10px;
}

.form{
	display: flex;
	background-color: #b3acfa;
	border: 2px solid #6861b1;
}
.table{
	height: 470px;
	/*display: flex;*/
	background-color: #b3acfa;
	border: 2px solid #6861b1;
}
.content1{
	margin-top: 26px;
    width: 1076px;
    /* height: 295px;
     display: flex;*/
}
.cad{
	flex:1;
}
.in1,.in2,.in3,.in4,.in5,.in6,.in7
,.in8,.in9,.in10,.in11,.in12{
	margin: 10px;
}
.int6{
	margin-top: 10px
}
select{
	margin-left: 10px;
}

.menudow{
	display: flex;
	align-items: center;
    background-color: #dfe6ee;
    width: 400px;
    margin-top: 10px;
    border: 2px solid #9faab0;
    border-ratio: 3px;
    border-radius: 4px;
	height: 60px;
}
.lis{
	/*height: 22px;*/
    position: fixed;
    margin-left: 130px;
    margin-top: 95px;
    background-color: #fffeff;
    border: 2px solid #b3b4d3;
    color: #7c6ecf;
    border-radius: 3px;
}

.botao{
	display: flex;
}
.contentmenu{
	margin: 45px;
	display: flex;
	height: 22px;
	
}
.contentmen{
	    margin-left: 45px;
}
.contente{
	background-color: #b3acfa;
	display: flex;
	justify-content:center;
	width: 1040px;
	height: 500px;

}
.lista{
	flex:1;
	align-items: center;
	background-color: #fff;
	width: 500px;
	height: 405px;
}
.paginacao{
    position: fixed;
    margin-left: 866px;
    margin-top: 354px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    color: #d7e903;
}
.pagina{
	display: flex;
}
#alunos{
	height: 352px;
}
a {
	text-decoration: none;
    
    color: #000;
    /* color: #007bff; */
    /* text-decoration: none; */
    background-color: transparent
}
.paginacao .active a, .paginacao a:hover {
    font-size: 20px;
    background-color: #d7e903;
    color: #000000;
}
.botoncadastro{
	position: fixed;
    margin-left: 20px;
    margin-bottom: 60px;
   /* text-decoration: none;*/
    font-size: 17px;
    font-family: arial;
    color: #d7e903;

}
.in14{
	height:20px;
	height: 22px;
    background-color: #fffeff;
    border: 2px solid #b3b4d3;
    color: #7c6ecf;
    border-radius: 3px;
}
.in13{
	height:20px;
	height: 22px;
	color:#fafcff;
	background-color: #6558ff;
	border: 2px solid #6558ff;
	border-radius: 3px;
	
}
.cadas{
	text-decoration: none;

}
.pesquisa{
	font-size: 11px;
    margin: 5px;
    padding: 5px;
    margin-bottom: ;
}